#NavBarMain {
  background: #505050;
}

#FooterMain {
  background: #505050;
}

.intro-text a {
  color: #A0A0A0;
}
.intro-text a:hover {
  color: #E0E0E0;
}
.intro-text a:link {
  text-decoration: none;
}

.menu-text a {
  color: #A0A0A0;
}
.menu-text a:hover {
  color: red;
  font-weight: bold;
}
.menu-text a:link {
  text-decoration: none;
}

.border-break {
  border-bottom: 1px solid #A0A0A0;
}

.border-break-full {
  border: 1px solid #A0A0A0;
}

.border-red {
  border: 1px solid red;
}

.list-bullets {
  color: #E0E0E0;
  font-size: 10px;
}

.menu-bullets {
  color: #A0A0A0;
  font-size: 10px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

#FooterList {
  color: #A0A0A0;
  font-size: 10px;
}

.menu-button {
  background-color: transparent;
  border-color: #fff;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  color: #A0A0A0;
}

.menu-button:hover {
  background-color: transparent;
  color: red;
  font-weight: bold;
  box-shadow: none;
}

.menu-items {
  background-color: #fff;
}

.menu-items > li > a {
  color: #000;
}

.lang-button {
  background-color: transparent;
  border: 1px solid #A0A0A0;
  border-radius: 2px;
  color: #A0A0A0;
}

.lang-button:hover {
  background-color: transparent;
  color: red;
  font-weight: bold;
  box-shadow: none;
}

.lang-items {
  background-color: #fff;
}

.lang-items > li > a {
  color: #000;
}

.love-button {
  border: 1px solid #A0A0A0;
  border-radius: 2px;
}

.fa-heart {
  color: #505050;
}

.fa-heart:hover {
  color: #A0A0A0;
}

.sort-display-button {
  border: 1px solid #A0A0A0;
  border-radius: 2px;
}

.product-title {
  font-family: "Calibri";
  font-weight: bold;
}

.brand-title {
  font-family: "Calibri";
  font-weight: bold;
  font-size: 16px;
}

.description-text {
  font-family: "Calibri";
  font-size: 12px;
}

.no-gutters-custom {
  margin-left: 0;
}

.no-gutters-custom > .col,
.no-gutters-custom > [class*=col-] {
  padding-left: 0;
}

/*# sourceMappingURL=main.css.map */
