$border-width:1px;
$border-color: #A0A0A0;
$nav-background: #505050;
$headtrail-colour: #A0A0A0;
$link-hover: #E0E0E0;
$product-font: "Calibri";
//$border-standard: 1px solid red;


@mixin border($var-direction, $var-width, $var-color) {
    @if $var-direction == 'border'{
        border: $var-width solid $var-color;
    }
    @if $var-direction == 'border-bottom'{
        border-bottom: $var-width solid $var-color;
    }
    @if $var-direction == 'border-top'{
        border-top: $var-width solid $var-color;
    }
    @if $var-direction == 'border-right'{
        border-right: $var-width solid $var-color;
    }
    @if $var-direction == 'border-left'{
        border-left: $var-width solid $var-color;
    }
    @if $var-direction == 'border-tb'{
        border-bottom: $var-width solid $var-color;
        border-top:    $var-width solid $var-color;
    }
    @if $var-direction == 'border-lr'{
        border-left:  $var-width solid $var-color;
        border-right: $var-width solid $var-color;
    }
    @if $var-direction == 'border-no-top'{
        border:     $var-width solid $var-color;
        border-top: none;
    }
    @if $var-direction == 'border-no-bottom'{
        border:        $var-width solid $var-color;
        border-bottom: none;
    }
}

#NavBarMain {
//	 @include border();
    background: $nav-background;
}

#FooterMain {
//   @include border();
    background: $nav-background;
}

.intro-text {
    a {
      color: $headtrail-colour;
    }

    a:hover {
        color: $link-hover;
    }

    a:link {
        text-decoration: none;
    }

}

.menu-text {
    a {
      color: $headtrail-colour;
    }

    a:hover {
        color: red;
        font-weight: bold;
    }

    a:link {
        text-decoration: none;
    }

}
.border-break {
    @include border('border-bottom', $border-width, $border-color);
}
.border-break-full {
    @include border('border', $border-width, $border-color);
}
.border-red {
    @include border('border', $border-width, red);
}
.list-bullets {
    color: $link-hover;
    font-size: 10px;
}

.menu-bullets {
    color: $headtrail-colour;
    font-size: 10px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

#FooterList {
    color: $headtrail-colour;
    font-size: 10px;
}

.menu-button {
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    color: $headtrail-colour;
}

.menu-button:hover {
    background-color: transparent;
    color: red;
    font-weight: bold;
    box-shadow: none;
}

.menu-items {
    background-color: #fff;
}
.menu-items>li>a{
    color: #000;
}

.lang-button {
    background-color: transparent;
    border: 1px solid $headtrail-colour;
    border-radius: 2px;
    color: $headtrail-colour;
}

.lang-button:hover {
    background-color: transparent;
    color: red;
    font-weight: bold;
    box-shadow: none;
}

.lang-items {
    background-color: #fff;
}
.lang-items>li>a{
    color: #000;
}

.love-button{
    border: 1px solid $headtrail-colour;
    border-radius: 2px;
}

.fa-heart{
    color: $nav-background;
}
.fa-heart:hover{
    color: $headtrail-colour;
}

.sort-display-button{
    border: 1px solid $headtrail-colour;
    border-radius: 2px;
}

.product-title{
    font-family: $product-font;
    font-weight: bold; 
}

.brand-title{
    font-family: $product-font;
    font-weight: bold;
    font-size: 16px;
}

.description-text{
    font-family: $product-font;
    font-size: 12px;
}


.no-gutters-custom {
  margin-left: 0;
}

.no-gutters-custom > .col,
.no-gutters-custom > [class*="col-"] {
  padding-left: 0;
}